<%layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-md-6 offset-md-3 my-5">
        <div class="card shadow">
            <div class="card-body">
                <form
                    class="validated-form"
                    action="/campgrounds/<%=foundCamp._id%>?_method=PUT"
                    method="POST"
                    novalidate
                    enctype="multipart/form-data"
                >
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input
                            class="form-control"
                            type="text"
                            id="title"
                            name="campground[title]"
                            value="<%=foundCamp.title%>"
                            required
                        />
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location"
                            >Location</label
                        >
                        <input
                            class="form-control"
                            type="text"
                            id="location"
                            name="campground[location]"
                            value="<%=foundCamp.location%>"
                            required
                        />
                        <div class="valid-feedback">Looks good!</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="price"
                            >Campground Price</label
                        >
                        <div class="input-group">
                            <span class="input-group-text" id="price-label"
                                >$</span
                            >
                            <input
                                id="price"
                                type="text"
                                class="form-control"
                                placeholder="0.00"
                                aria-label="price"
                                aria-describedby="price-label"
                                name="campground[price]"
                                value="<%=foundCamp.price%>"
                                required
                            />
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="image"
                            >Add more Images</label
                        >
                        <div class="input-group mb-3">
                            <input
                                type="file"
                                class="form-control"
                                id="image"
                                name="image"
                                multiple
                            />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description"
                            >Description</label
                        >
                        <textarea
                            class="form-control"
                            type="text"
                            id="description"
                            name="campground[description]"
                            required
                        >
<%=foundCamp.description%></textarea
                        >
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="mb-3 d-flex justify-content-around">
                        <% foundCamp.images.forEach(function(img, i) {%>
                        <div>
                            <img
                                src="<%=img.thumbnail%>"
                                class="img-thumbnail"
                                alt=""
                            />
                            <div class="flex">
                                <div class="form-check-inline">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        name="deleteImages[]"
                                        value="<%=img.filename%>"
                                        id="image-<%=i%>"
                                    />
                                </div>
                                <label
                                    class="form-check-label"
                                    for="image-<%=i%>"
                                    ><div class="btn btn-sm btn-danger">
                                        Delete
                                    </div>
                                </label>
                            </div>
                        </div>

                        <% }) %>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-info text-light">
                            Update Campground
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
